.swiper-button-next {
  color: #FFBA08;
  right: 42px;
}

.swiper-button-prev {
  color: #FFBA08;
  left: 42px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #999999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #FFBA08;
}

@media(max-width:30em) {
  .swiper-button-next {
    right: 15px;
  }
  
  .swiper-button-prev {
    left: 15px;
  }
  
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.2rem;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  
  // .swiper-pagination-bullet-active {
  //   background-color: #FFBA08;
  // }
}